body{
    background-color: black;
}

.palindromechecker{
    margin-left: 40%;
    margin-top: 20%;
}

#usersinput{
    text-align: center;
}

#button{
    margin-top: 0.00000005px;
    margin-left: 60px;
}

#Answer{
    margin-top: 60px;
    font-size: xx-large;
    font-weight: bolder;
    font-style: normal;
}